# Add additional Springboard installs and vhosts.
# You're going to want to use the "sites" directory to hold them: ex, "sites/mynewdocroot"
# Don't use any special characters in the docroot name. Only a-z and "/" are allowed.

# If you're adding a new site to a previously provisioned SpringboardVM, then you need to:
# run `composer update`
# run `vagrant provision`

apache_vhosts:
  - servername: "test2.dev"
    serveralias: "www.test2.dev"
    documentroot: "/sites/test2"
    extra_parameters: |
          ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test2"

#  - servername: "test3.dev"
#    serveralias: "www.test3.dev"
#    documentroot: "/sites/test3"
#    extra_parameters: |
#          ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test3"

apache_vhosts_ssl:
  - servername: "test2.dev"
    documentroot: "/sites/test2"
    certificate_file: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
    certificate_key_file: "/etc/ssl/private/ssl-cert-snakeoil.key"
    extra_parameters: |
          ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test2"

#  - servername: "test3.dev"
#    documentroot: "/sites/test3"
#    certificate_file: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
#    certificate_key_file: "/etc/ssl/private/ssl-cert-snakeoil.key"
#    extra_parameters: |
#          ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test3"