;add additional vhosts.
;/test2 is at Springboard-Build-Composer/test2

apache_vhosts:
  - servername: "test2.dev"
    serveralias: "www.test2.dev"
    documentroot: "/test2"
    extra_parameters: |
          ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test2"

apache_vhosts_ssl:
  - servername: "test2.dev"
    documentroot: "/test2"
    certificate_file: "/etc/ssl/certs/ssl-cert-snakeoil.pem"
    certificate_key_file: "/etc/ssl/private/ssl-cert-snakeoil.key"
    extra_parameters: |
          Pgit stasusroxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/test2"